.nav{
    position: relative;
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    height: 170px;
    background-color: var(--secondary-color);
}

.nav__logo{
    display: flex;
    margin: 0;
    gap: 15px;
    align-items: center;
}

.nav__logo h1{
    color: var(--primary-color);
    margin: 0;
}

.nav__logo img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50%;
}

.nav ul{
    list-style: none;
    display: flex;
}
  
.nav li, .nav a {
    display: block;
    color: var(--primary-color);
    font-size: large;
    text-decoration: none;
    padding: 10px 20px;
}
  
.nav a:hover {
    background-color: var(--primary-color); 
    color: var(--secondary-color);
    border-radius: 15px;
    transition: 0.2s ease-in-out;
    opacity: 0.8;
}
